body{
        font-family: Georgia, 'Times New Roman', Times, serif,sans-serif;
        background-color:beige;
        margin-top:0 auto;
        margin-bottom:40px;
        margin-left: 50px;
        margin-right:50px;
        padding: 0rem;
        background-image:url("bbb.png");
    }
#contsiner{
	width: 50%;
	margin: 0 auto;
}
.box{
    width:100%;
    margin:0 auto;
}
header{
	background-color:grey;
	color: black;
	padding: 1rem;
	text-align: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li{
    display: inline;
    margin-right: 30px;
}
nav ul li a{
    color:black;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
section{
    flex-basis: 50%;
	image: 300px center;

}
footer{
    background-color:gray;
    color:black;
    text-align: center;
    padding: 1rem
}