body{
    font-family: Arial,sans-serif;
    margin: 80%;
    padding:0;
}
.container{
    width: 80%;
    margin: 0;
}
header{
    background-color:pink;
    color:black;
    padding: 1rem;
    text-align: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    color:black;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
section{
    flex-basis: 80%;
}
footer{
    background-color:black;
    color: black;
    text-align: center;
    padding: 1rem
}